<div class="d-flex justify-content-center">
    <div class="recuadro m-2">
        <div>
            <div class="d-flex justify-content-between">
                <h1>Sobre mi:</h1>
                <p>Nacimiento: 29/06/2000</p>
            </div>
            <div class="d-flex">
                <p class="m-1">
                    Soy una estudiante de 21 años apasionada por la tecnología
                     y con muchas ganas de poder ocupar un puesto en una empresa 
                     que me permita crecer profesionalmente.
                    Me considero una persona que explora fuentes y recursos que 
                    respondan mis inquietudes y necesidades, también soy sociable, 
                    abierta a trabajar en equipo y muy comprometida con todo 
                    lo que me propongo.
                </p>
            </div>
        </div>
        <!-- Contacto -->
        <div>
            <div class="collapse" id="collapseExample1">
                <div class="p-0 card-body">
                    <h3>Contacto:<br /></h3>
                    Cel:+54 9 2944211392<br />
                    Mail:moracastelligaraycochea@gmail.com<br />
                    Direccion:CABA, Palermo, Godoy Cruz 1514<br />
                    Codigo Postal:1414
                </div>
            </div><br />
            <a class="btn btn-secondary justify-content-end" data-bs-toggle="collapse" href="#collapseExample1"
                role="button" aria-expanded="false" aria-controls="collapseExample1">
                Contactame!
            </a>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-dark">Editar</button>
                <button type="button" class="btn btn-dark">Eliminar</button>
            </div>
        </div>
    </div>
</div>