<div class="d-flex justify-content-around">
    <div class="recuadro m-2">
        <h2> Proyectos en los que participe:</h2>
        <br />
        <div class="container">
            <div class="row justify-content-around">

                <!-- Proyecto 1 -->
                <div class="col-4">
                    <div class="">
                        <img src=".\assets\multimedia\proyecto 2.jpg" alt="imagen de proyecto" class="img-thumbnail" />
                        <p>
                            Desarrollo del Front-End para un parche de emergencia un la pagina oficial de Renault.
                        </p>
                    </div>
                </div>

                <!-- Proyecto 2 -->
                <div class="col-4">
                    <div class="">
                        <img src=".\assets\multimedia\proyecto.jpg" alt="imagen de proyecto" class="img-thumbnail" />
                        <p>
                            Realizar mi propio portafolio en formato WEB.
                        </p>
                        <!-- Leer más -->
                        <div>
                            <div class="collapse" id="collapseExample">
                                <div class="card-body">
                                    Fue una experiencia que requirio la implementacion de conosimientos como:
                                    Modulos, Componentes, Componente hijos, Style, Servicios, Routing, Binding
                                    <br />
                                    <br />
                                </div>
                            </div>
                            <p>
                                <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapseExample"
                                    role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Ver más...
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Proyecto 3 -->
                <div class="col-4">
                    <div class="">
                        <img src=".\assets\multimedia\proyecto3.jfif" alt="imagen de proyecto" class="img-thumbnail" />
                        <p>
                            Trabaje con SAP durante 6 meses.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>