<div class="d-flex justify-content-around">
    <div class="recuadro m-2">
        <h2> Proyectos en los que participe:</h2>
        <br />
        <div class="container">
            <div class="row justify-content-around">
                <!-- Proyecto -->
                <div class="col-4">
                    <div class="">
                        <img src=".\assets\multimedia\proyecto.jpg" alt="imagen de proyecto" class="img-thumbnail" />
                        <p>
                            NOMBRE
                        </p>
                        <!-- Leer más -->
                        <div>
                            <div class="collapse" id="collapseExample">
                                <div class="card-body">
                                    DESEMPENIO
                                    <br />
                                    <br />
                                </div>
                            </div>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-dark">Editar</button>
                                <button type="button" class="btn btn-dark">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>