<div class="d-flex justify-content-center" id="estudio">
    <div class="recuadro m-2">
        <h1>Estudios</h1>
        <span class="container d-flex justify-content-between">
            <button *ngIf="isAdmin" (click)="Nuevo()"  type="button" class="btn btn-outline agregar btn-dark"><i class="bi bi-plus-square"></i></button>
        </span>
        <br /><br />
        <div>
            <!--Estudio-->
            <div *ngFor="let estudio of estudios">
                <div class="d-flex justify-content-between">
                    <h2>{{estudio.establecimiento}}</h2>
                    <p>{{estudio.fecha}}</p>
                    <p>{{estudio.logro}}</p>
                </div><br />
                <div class="btn-group" role="group" aria-label="Basic example" *ngIf="isAdmin">
                    <button type="button" class="btn btn-dark" (click)="Editar(estudio)">
                        <i class="bi bi-pen"></i>Editar</button>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example" *ngIf="isAdmin">
                    <button type="button" class="btn btn-dark" (click)="Delete(estudio)">
                        <i class="bi bi-trash-fill"></i>Eliminar</button>
                </div>
                <br /><br />
            </div>
        </div>
    </div>
</div>