<div class="d-flex justify-content-center">
    <div class="recuadro m-2">
        <h1>Educacion</h1>
        <br />

        <div>
            <!--Edu. 1-->
            <div>
                <div class="d-flex justify-content-between">
                    <h2>Tecnicatura en Desarrollo WEB</h2>
                    <p>10/08/2022 / Actualidad</p>
                </div>
                <div class="d-flex">
                    <p class="m-1"><strong>
                        Universidad Nacional de la Matanza(UNLaM).
                    </strong></p>
                </div>
            </div>
            <!-- Ver mas Edu.1-->
            <div>
                <div class="collapse" id="collapseExample1">
                    <div class="p-0 card-body">
                        Es una tecnicatura de 3 años pero además, promueve 
                        la adquisición de competencias profesionales en 
                        áreas de programación y arquitectura de aplicaciones
                         Web que incluye: desarrollar, administrar y programar
                         servicios remotos incorporando la utilización de 
                         tecnologías multimediales y aspectos sociales de las
                        TIC, entre otras.
                    </div>
                </div><br />
                <p>
                    <a class="btn btn-secondary justify-content-end" data-bs-toggle="collapse" href="#collapseExample1"
                        role="button" aria-expanded="false" aria-controls="collapseExample1">
                        Ver más...
                    </a>
                </p>
            </div>
            <!--Edu.2-->
            <div><br /><br />
                <div class="d-flex justify-content-between">
                    <h2>FullStack Jr.</h2>
                    <p>30/06/2021 / Actualidad</p>
                </div>
                <div class="d-flex">
                    <p class="m-1"><strong>
                        Argentina Programa - CESSI (Ministerio de Desarrollo Productivo de Argentina)
                    </strong></p>
                </div>
            </div>
            <!-- Ver mas Edu.2-->
            <div>
                <div class="collapse" id="collapseExample2">
                    <div class="p-0 card-body">
                        A través de este programa utilizamos los lenguajes:
                         Gobstones, JavaScrip, Ruby, HTML, CSS, JSON, DOM, 
                         TypeScript y JAVA.
                        Y herramientas como:
                        Angular, My SQL, POO, EOO, IDEs y HTTP.
                    </div>
                </div><br />
                <p>
                    <a class="btn btn-secondary justify-content-end" data-bs-toggle="collapse" href="#collapseExample2"
                        role="button" aria-expanded="false" aria-controls="collapseExample2">
                        Ver más...
                    </a>
                </p>
            </div>
            <br />
            <br />
            <br />
            <!-- Capasitaciones-->
            <h2>Capasitaciones:</h2><br />
            <div class="container">
                <div class="row justify-content-around">
                    <!-- Capasitacion 1 -->
                    <div class="col-4">
                        <div class="">
                            <a href=".\assets\multimedia\certificado_utn.pdf"><img src=".\assets\multimedia\certificado_utn.jpg" alt="imagen de proyecto" class="img-thumbnail" /></a>
                            <p>
                                Capasitacion de Desarrollos de Videojuejos en la UTN.
                            </p>
                        </div>
                    </div>
                    <!-- Capasitacion 2 -->
                    <div class="col-4">
                        <div class="">
                            <a href=".\assets\multimedia\certificado_ap.pdf"><img src=".\assets\multimedia\certificado_ap.jpg" alt="imagen de proyecto" class="img-thumbnail" /></a>
                            <p>
                                Capasitacion de primeros pasos en la programacion en Argentina Programa (#SeProgramar).
                            </p>
                        </div>
                    </div>
                    <!-- Capasitacion 3-->
                    <div class="col-4">
                        <div class="">
                            <a href=".\assets\multimedia\certificado_it.jpg"><img src=".\assets\multimedia\certificado_it.jpg" alt="imagen de proyecto" class="img-thumbnail" /></a>
                            <p>
                                Capasitacion de FullStack en Java con la Asociacion Civil Comunidad IT.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>