<div class="d-flex justify-content-center">
    <div class="recuadro m-2">
        <h1>Educacion</h1>
        <br />

        <div>
            <div class="container">
                <div class="row justify-content-around">
                    <!-- Capasitacion 1 -->
                    <div class="col-4">
                        <div class="">
                            <p>ESTABLECIMIENTO</p>
                            <a href=".\assets\multimedia\certificado_utn.pdf"><img src=".\assets\multimedia\certificado_utn.jpg" alt="imagen de proyecto" class="img-thumbnail" /></a>
                            <p>
                                FECHA
                            </p>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-dark">Editar</button>
                                <button type="button" class="btn btn-dark">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>