<div class="container-fluid" id="selectors" >
    <!-- Header -->
    <app-header></app-header>

    <!-- Presentacion -->
    <app-persona></app-persona>

    <!-- About me -->
    <app-about-me></app-about-me>

    <!--Educacion-->
    <app-educacion></app-educacion>

    <!--Experiencia Laboral-->
    <app-experiencia></app-experiencia>

    <!--Skills-->
    <app-skills></app-skills>

    <!--Proyectos-->
    <app-proyectos></app-proyectos>
    
    <!--Footer-->
    <app-footer></app-footer>
</div>