.redesimg img {
    width: 10vh;
  }
  .redesimg button {
    margin-left: 2vh;
  }
  body {
    background-color: #495057;
  }
  .nav1 {
    background-color: #343a40;
  }
  .recuadro{
      background: #F2E2DA;
      border: 5px solid #495057;
      box-sizing: border-box;
      border-radius: 35px;
      padding: 7vh;
      margin: 2vh 20vh;
      margin: auto;
      width:80%;
  }
  .perfil{
    border: 5px solid #495057;
    box-sizing: border-box;
    border-radius: 100px;
    width: 20%;
  }